page-home {

    :root {
        --listColor: white;
    }

    .displayGrid {
        display: grid;
        grid-template-columns: repeat(2, 46%);
        grid-gap: 3%;
        place-items: center;
        justify-content: center;
        // align-items: center;
    }

    .productBox {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 15px;
        max-width: 98%;
        min-height: 130px;
        max-height: 200px;
    }

    .product {
        flex: 1;
        font-size: 15px;
        text-align: left;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
    }

    .shareButton {
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        // position: sticky;
        // bottom: 0;
        // justify-self: end;
        flex-shrink: 0;
        margin-bottom: 0px;
        width: 100%;
        min-height: 30px;
        border-radius: 0px 0px 15px 15px;
        background-color: darkcyan;
    }

    .addProduct {
        position: fixed;
        justify-content: right;
        bottom: 100px;
    }

    .footer {
        position: absolute;
        text-align: left;
        bottom: 0;
        width: 100%;
    }

    .valueByCategory {
        border: 1px solid black;
    }
}
